$color-primary: rgb(105, 103, 254);
$color-secondary: rgb(133, 233, 244);
$color-text: rgb(164, 178, 193);
$color-dark: rgb(31, 35, 41);
$color-gray: rgba($color-dark, 0.05);
$color-page-bg: rgba($color-dark, 0.05);
$color-configurator: $color-dark;
$color-stroke: $color-text;

$layout-header-height: 6rem;
$layout-sider-width: 20rem;
$layout-footer-height: 4rem;

$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 976px;
$screen-xl: 1440px;
