@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background: url("@/assets/bg.png") center center / auto auto no-repeat #f0f0f0;
}

#app {
  max-width: 1440px;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 75px;
  height: 100vh;
}
